﻿

<base href="/" />
<script src="../AngularJs/BaseAngularScript.js"></script>
<script src="../AngularJs/angular-route.min.js"></script>
<script src="../AngularJs/angular.min.js"></script>


<html>
<body ng-app="homeModule">
    <div id="flex-container" ng-controller="HomeController">

        <div class="FlexItem">
            <p>Click on to view the use of web API Get Method using AngularJs.</p><br />
            <div class="DivButton" ng-click="OnLookUpClick()">Look Up</div>
        </div>

        <div class="FlexItem">
            <p>Click on to view the use of web API Post Method using AngularJs.</p><br />
            <div class="DivButton" ng-click="OnRegisterClick()">Register</div>
        </div>

        <div class="FlexItem">
            <p>Click on to view the use of web  API Put Method using AngularJs.</p><br />
            <div class="DivButton" ng-click="OnUpdateClick()">Update</div>
        </div>



        <div class="FlexItem">
            <p>Click on to view the use of web API Delete Method using AngularJs.</p><br />
            <div class="DivButton" ng-click="OnDeleteClick()">Delete</div>
        </div>

    </div>
</body>
</html>
