﻿<div ng-app="LookUpModule"  style="background-color : white" class="container">

    <table class="table table-striped" ng-controller="LookUpController">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="std in stdLst">
                <td>{{std.mId}}</td>
                <td>{{std.fName}}</td>
            </tr>
        </tbody>
    </table>
</div>