﻿

<div ng-app="UpdateModule" style="background-color : white" class="container">

    <table class="table table-striped" ng-controller="UpdateController">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th><input ng-model="std.Id" class="form-control" /></th>
                <th><input ng-model="std.fname" class="form-control" /></th>
                <th><button class="btn btn-primary" ng-click="btnUpdateStd()"> <span class="glyphicon glyphicon-ok"></span></button></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="std in stdLst">
                <td>{{std.mId}}</td>
                <td>{{std.fName}}</td>
                <th><button class="btn arrow" ng-click="btnEditStd(std)"> <span class="glyphicon glyphicon-pencil"></span></button></th>
            </tr>
        </tbody>
    </table>
</div>
