﻿<base href="/" />
<script src="~/Scripts/AngularJs/angular.min.js"></script>
<script src="~/Scripts/AngularJs/angular-route.min.js"></script>
<script src="~/Scripts/AngularJs/BaseAngularScript.js"></script>
<link href="~/CSS/CssHome.css" rel="stylesheet" />


<html ng-app="HomeModule" ng-modules="">
<body>
    <main ng-view=""></main>
</body>
</html>
